[run]
omit = tests/*
source = ansi2html
branch = True
parallel = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

[html]
directory = coverage_html_report
