---
ci:
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: monthly
  autofix_commit_msg: |
    chore: auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  skip:
    # https://github.com/pre-commit-ci/issues/issues/55
    - codecov
repos:
  - repo: local
    hooks:
      - id: codecov
        name: Check codecov.yml
        # https://superuser.com/a/1587813/3004
        entry: >
          bash -c '[ $(
          curl --silent -o /dev/stderr -w "%{http_code}" -X POST --data-binary @codecov.yml https://codecov.io/validate
          ) -eq 200 ]'
        language: system
        files: "codecov.yml"
        pass_filenames: false
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black.git
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.2.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
        language_version: python3
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - pydocstyle>=6.1.1
          - flake8-docstrings>=1.6.0
          - flake8-absolute-import>=1.0
          - flake8-black>=0.2.3
          - flake8-pytest-style>=1.5.0
        language_version: python3
  - repo: https://github.com/pycqa/pylint
    rev: v2.14.0
    hooks:
      - id: pylint
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.960
    hooks:
    - id: mypy
      # empty args needed in order to match mypy cli behavior
      args: ["--strict"]
      additional_dependencies:
      - pytest
      - types-setuptools
      - types-pkg_resources
      - types-mock
      exclude: >
        (?x)^(
          docs/.*|
          setup.py
        )$
